* {
  margin: 0;
  padding: 0;
  
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  transition: transform 1s, filter 1s;
  font-size: 16px;
  list-style: none;
  text-decoration: none;
}

html {
	user-select: none;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: #f2f2f2;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: Roboto, sans-serif;
  font-size: 6rem;
  color: #1c1c1c;
  text-align: center;
  margin: 2rem 0 1rem 0;
}

.navigation {
  margin: 0 0 1rem 0;
  text-align: center;
}

.navigation ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  }

.navigation ul li{
  margin: 0 1.5rem;
}

ul li:hover {
  transform: scale(1.1);
}

.circle {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #f2f2f2;
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
}

.red-circle {
  background-color: #b0323c;
}

.blue-circle {
  background-color: #104770;
}

.yellow-circle {
  background-color: #e78c26;
}

.figure-tribute {
  display: inline-block;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
}

.img-div {
  background-color: #ffffff;
  width: fit-content;
  border: 1px solid #d5d5d5;
  padding: 1em 1em 0 1em;
  margin: 0 0 1em 0;
}
.img-div__image {
  filter: brightness(0.8);
  display: block;
  max-width: 100%;
  height: auto;
}

.img-div__image:hover {
  filter: brightness(1);
}

.img-div figcaption {
  text-align: center;
  font-size: 1.3rem;
  padding: 0.5em 0;
  font-family: "Shadows Into Light", cursive;
}

.tribute-info {
  margin: 0 0 1rem 0;
}

.figure-tribute > section > p {
  text-align: justify;
  width: 0;
  min-width: 100%;
  font-size: 1.5rem;
}

.figure-tribute a {
  font-size: inherit;
  color: inherit;
}

#tribute-link:hover {
  color: #104770;
  text-decoration: underline;
}


.listen h2 {
  color: #1c1c1c;
  text-align: center;
}

.listen ul {
  width: fit-content;
  margin: 0 auto 1rem auto;
  
}

.listen ul li {
  display: inline-block;
  margin: 0 1.5rem;
}

.listen-icon {
  width: 3rem;
}

.subtitle {
  text-align: center;
  font-size: 3rem;
  margin: 0 0 1rem 0;
}

.video-container {
  background-color: white;
  border: 1px solid #d5d5d5;
  padding: 1rem 1rem 2rem 1rem;
  margin: 0 0 1rem 0;
}
.video {
  border: 1px solid #d5d5d5;
  height: 26vw;
  width: 50vw;
}

.follow-container {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  width: 100vw;        	
  padding: 1em 0 2em 0;
  background-color: #1c1c1c;
}

.follow-container h2 {
color: #f2f2f2;
}

footer ul li {
  display: inline-block;
  margin: 0 1.5rem;
}

footer ul li a img {
  width: 3rem;
}

@media (max-width:600px) {

  .navigation ul li{
    margin: 0 5vw;
  }

  .circle {
  width: 25vw;
  height: 25vw;
  font-size: 7vw;
  }

  .video {
    width: 90vw;
    height: 46vw;
  }
}
